body{
	text-align: center;
	font-family: "Arial";
	color: blue;
}

.container,.cabecera{
	text-align: center;
	color: white;
	margin: 0 auto;
	width: 50%;
	border-radius:1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(40, 117, 184);
}
.cabecera{
	background-color: rgb(41, 146, 115);
	height: 40px;
	font-size:25px;
}
.container h1,p{
	width: 100%;
}

.alto{
	height: 200px;
	vertical-align: middle;
	font-size: 25px;
	background-color: rgb(43, 128, 128);
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}