body{
	text-align: center;
	font-family: "Arial";
	color: blue;
}


.container{
	text-align: center;
	background-color: rgb(21, 85, 145);
	color: white;
	margin: 0 auto;
	width: 50%;
	border-radius:1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.container h1,p{
	width: 100%;
}

.alto{
	height: 200px;
	vertical-align: middle;
	font-size: 25px;
	background-color: teal;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}