body{
	text-align: center;
	font-family: "Arial";
	color: blue;
}


.container{
	text-align: center;
	background-color: rgb(21, 85, 145);
	color: white;
	margin: 0 auto;
	width: 50%;
	border-radius:1.5rem;
}